/*global*/
* {
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
}

QMainWindow {
  background-color: #d9dce1;
}

/*mainBlock*/
QFrame#mianBlock {
  border-radius: 20px;
  padding: 3px;
  background-color: #005c91;
}

QLabel#titleFierst {
  padding: 7px;
}

QComboBox#module_txt,
QPlainTextEdit#system_num_txt,
QPlainTextEdit#station_num_txt,
QPlainTextEdit#way_num_txt,
QPlainTextEdit#rack_num_txt,
QPlainTextEdit#crate_num_txt,
QPlainTextEdit#crate_place_txt,
QPlainTextEdit#rec_code1_txt,
QPlainTextEdit#rec_code2_txt,
QPlainTextEdit#rec_code3_txt,
QPlainTextEdit#rec_code4_txt,
QLabel#crc32_txt {
  background-color: transparent;
  selection-background-color: rgba(227, 232, 238, 0.15);
  border: 0;
  border-bottom: 1px solid #fff;
}

QComboBox#module_txt {
  padding: 2px;
  border-radius: 0;
}

/*mainButtons*/
QFrame#buttonsTop {
  margin-bottom: 1px;
}

QPushButton#verification,
QPushButton#openingButton,
QPushButton#saveButton {
  position: relative;
  padding: 7px;
  border-radius: 10px;
  background-color: #005c91;
  /*border: 1px solid #005C91;*/
}

QFrame#buttonsBottom {
  margin: 0;
  border: 0;
}

QPushButton#verification:focus,
QPushButton#openingButton:focus,
QPushButton#saveButton:focus {
  outline: none;
  border: 2px solid #69b7e5;
}

QPushButton#verification:hover,
QPushButton#openingButton:hover,
QPushButton#saveButton:hover {
  font-weight: 600;
  color: #69b7e5;
}

QPushButton#verification:pressed,
QPushButton#openingButton:pressed,
QPushButton#saveButton:pressed {
  background-color: #317aa4;
  outline: none;
  border: none;
}

/*drop-box*/
QScrollBar:vertical {
  width: 10px;
  background-color: #f4f5f8;
}

QScrollBar::handle:vertical {
  background-color: #317aa4;
  min-height: 150px;
  border-radius: 4px;
  border: 0;
}

QScrollBar::handle:vertical:pressed {
  background-color: #69b7e5;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
  background-color: #f4f5f8;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
  background-color: transparent;
}

QComboBox QAbstractItemView {
  background-color: #f4f5f8;
  border: 0;
}

QComboBox QAbstractItemView::item {
  color: #1b1e21;
  background-color: transparent;
  border: none;
  height: 24px;
  /*margin-bottom: 1px; !*если добавить маржин, то можно увидеть, что появляется пунктир*!*/
  border: -1px solid red; /*фиксит точки при наведении, P.S фиксит ужиманием блоков ╮(￣_￣)╭*/
}

QComboBox QAbstractItemView::item:hover {
  color: #317aa4;
  background-color: #e3e8ee;
}

/*footer*/
QLabel#operationStatus,
QLabel#GUIVersion,
QLabel#FIRMWAREVersion {
  color: #1b1e21;
}
